In [2]:
import os
import matplotlib as mp
import pandas as pd
import plotly as pt

In [21]:
fb_df = pd.read_csv('posts_and_comments_Andres.csv') #likes by me csv 
fb_df

,reactions/timestamp,reactions/data/0/reaction/reaction,reactions/data/0/reaction/actor,reactions/title,reactions/attachments/0/data/0/media/uri
0,1609460338,LIKE,Andres Alcaraz,Andres Alcaraz likes Vinicius Gomes's photo.,NaN
1,1609449420,LIKE,Andres Alcaraz,Andres Alcaraz likes Mario Alcaraz's photo.,NaN
2,1609300275,LIKE,Andres Alcaraz,Andres Alcaraz likes Mony Vazquez's post.,NaN
3,1609253183,LIKE,Andres Alcaraz,Andres Alcaraz likes Christian Foster's post i...,NaN
4,1609253143,LIKE,Andres Alcaraz,Andres Alcaraz likes Mario Alcaraz's photo.,NaN
...,...,...,...,...,...
5905,1390534321,LIKE,Andres Alcaraz,Andres Alcaraz liked a video.,NaN
5906,1390261202,LIKE,Andres Alcaraz,Andres Alcaraz liked a video.,NaN
5907,1390106771,LIKE,Andres Alcaraz,Andres Alcaraz likes Richi Phelps's photo.,NaN
5908,1389823697,LIKE,Andres Alcaraz,Andres Alcaraz liked a video.,NaN
5909,1389547885,LIKE,Andres Alcaraz,Andres Alcaraz liked a photo.,NaN

In [37]:
clean_df = pd.DataFrame()
clean_df['datetime']= pd.to_datetime(tm, unit ='s', yearfirst= True )

clean_df['year']= fb_df['datetime'].dt.year
clean_df['month']= fb_df['datetime'].dt.month
clean_df['day']= fb_df['datetime'].dt.day
clean_df['hour']= fb_df['datetime'].dt.hour

In [38]:
clean_df.head()

             datetime  year  month  day  hour
0 2021-01-01 00:18:58  2021      1    1     0
1 2020-12-31 21:17:00  2020     12   31    21
2 2020-12-30 03:51:15  2020     12   30     3
3 2020-12-29 14:46:23  2020     12   29    14
4 2020-12-29 14:45:43  2020     12   29    14

In [42]:
renamed = pd.DataFrame()
renamed['Reaction'] = fb_df['reactions/data/0/reaction/reaction']
renamed['Actor'] = fb_df['reactions/data/0/reaction/actor']
renamed['Title'] = fb_df['reactions/title']
renamed['Date Time'] = clean_df['datetime']
renamed['Year'] = clean_df['year']
renamed['Month'] = clean_df['month']
renamed['Day'] = clean_df['day']
renamed['Hour'] = clean_df['hour']
renamed.set_index('Actor')
renamed.head()

,Reaction,Actor,Title,Date Time,Year,Month,Day,Hour
0,LIKE,Andres Alcaraz,Andres Alcaraz likes Vinicius Gomes's photo.,2021-01-01 00:18:58,2021,1,1,0
1,LIKE,Andres Alcaraz,Andres Alcaraz likes Mario Alcaraz's photo.,2020-12-31 21:17:00,2020,12,31,21
2,LIKE,Andres Alcaraz,Andres Alcaraz likes Mony Vazquez's post.,2020-12-30 03:51:15,2020,12,30,3
3,LIKE,Andres Alcaraz,Andres Alcaraz likes Christian Foster's post i...,2020-12-29 14:46:23,2020,12,29,14
4,LIKE,Andres Alcaraz,Andres Alcaraz likes Mario Alcaraz's photo.,2020-12-29 14:45:43,2020,12,29,14