In [1]:
import os
import matplotlib as mp
import pandas as pd
import plotly as pt

In [2]:
p_pd = pd.read_csv('posts_and_comments.csv') #likes by me csv

In [3]:
p_pd['Timestamp'] = pd.to_datetime(p_pd['Timestamp'],unit='s', yearfirst=True)

In [4]:
p_pd['year'] = p_pd['Timestamp'].dt.year
p_pd['month'] = p_pd['Timestamp'].dt.month
p_pd['day'] = p_pd['Timestamp'].dt.day
p_pd['hour'] = p_pd['Timestamp'].dt.hour
p_pd.head()

,Timestamp,Reaction,User,Action,Uri,year,month,day,hour
0,2021-02-24 01:03:54,LIKE,Michael Tyler,Michael Tyler likes Kanye Battle's photo.,NaN,2021,2,24,1
1,2021-02-23 03:13:00,LIKE,Michael Tyler,Michael Tyler likes BeGreat.'s photo.,NaN,2021,2,23,3
2,2021-02-23 03:11:43,LIKE,Michael Tyler,Michael Tyler likes Hari Sivaskandan's photo.,NaN,2021,2,23,3
3,2021-02-23 01:29:05,LIKE,Michael Tyler,Michael Tyler likes Taylor Johnson's post.,NaN,2021,2,23,1
4,2021-02-23 01:17:14,LIKE,Michael Tyler,Michael Tyler likes Brandon Cotton's post.,NaN,2021,2,23,1

In [7]:
p_pd = p_pd.drop(columns=['Uri'])

KeyError: "['Uri'] not found in axis"

In [8]:
p_pd.head()

,Timestamp,Reaction,User,Action,year,month,day,hour
0,2021-02-24 01:03:54,LIKE,Michael Tyler,Michael Tyler likes Kanye Battle's photo.,2021,2,24,1
1,2021-02-23 03:13:00,LIKE,Michael Tyler,Michael Tyler likes BeGreat.'s photo.,2021,2,23,3
2,2021-02-23 03:11:43,LIKE,Michael Tyler,Michael Tyler likes Hari Sivaskandan's photo.,2021,2,23,3
3,2021-02-23 01:29:05,LIKE,Michael Tyler,Michael Tyler likes Taylor Johnson's post.,2021,2,23,1
4,2021-02-23 01:17:14,LIKE,Michael Tyler,Michael Tyler likes Brandon Cotton's post.,2021,2,23,1