In [9]:
import os 
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
posts_and_comments = os.path.join('posts_and_comments.csv')
fb_df = pd.read_csv(posts_and_comments)
fb_df

,CommentTime,CommentTimeStamp,Comment,PostedBy,Action,Attachments,CommentGroup,CommentAttachments,AttachmentTimestamp,UploadIP,Title
0,1609253809,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Danielle Carter's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1609253585,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Durel Hairston Jr.'s ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1609253535,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Sean Holley's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1609215959,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1609127023,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23859,1301001273,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23860,1298231606,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Shanny Mounique's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23861,1297961659,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23862,1297613305,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23863,1296859323,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ts = fb_df['CommentTime']
fb_df = fb_df.drop(columns='CommentTimeStamp')
fb_df['CommentTime'] = pd.to_datetime(ts,unit='s', yearfirst=True)

In [12]:
fb_df['year'] = fb_df['CommentTime'].dt.year
fb_df['month'] = fb_df['CommentTime'].dt.month
fb_df['day'] = fb_df['CommentTime'].dt.day
fb_df['hour'] = fb_df['CommentTime'].dt.hour
fb_df.head()

,CommentTime,Comment,PostedBy,Action,Attachments,CommentGroup,CommentAttachments,AttachmentTimestamp,UploadIP,Title,year,month,day,hour
0,2020-12-29 14:56:49,Chey'Na Bunch,Chey'Na Bunch reacted to Danielle Carter's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,12,29,14
1,2020-12-29 14:53:05,Chey'Na Bunch,Chey'Na Bunch reacted to Durel Hairston Jr.'s ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,12,29,14
2,2020-12-29 14:52:15,Chey'Na Bunch,Chey'Na Bunch reacted to Sean Holley's post.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,12,29,14
3,2020-12-29 04:25:59,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,12,29,4
4,2020-12-28 03:43:43,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,12,28,3

In [13]:
#fb_df.drop(columns=['Timestamp'])
fb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23864 entries, 0 to 23863
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CommentTime          23864 non-null  datetime64[ns]
 1   Comment              23864 non-null  object
 2   PostedBy             23864 non-null  object
 3   Action               8 non-null      object
 4   Attachments          5 non-null      float64
 5   CommentGroup         5 non-null      object
 6   CommentAttachments   0 non-null      float64
 7   AttachmentTimestamp  0 non-null      float64
 8   UploadIP             0 non-null      float64
 9   Title                0 non-null      float64
 10  year                 23864 non-null  int64
 11  month                23864 non-null  int64
 12  day                  23864 non-null  int64
 13  hour                 23864 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(4)
memory usage: 2.5+ MB

In [19]:
clean_c_pd = fb_df.drop(columns=['Attachments', 'CommentGroup', 'AttachmentTimestamp', 'UploadIP', 'Title', 'CommentAttachments'])
#new_df = fb_df.set_index(fb_df['Actor'])
clean_c_pd.head()
clean_c_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23864 entries, 0 to 23863
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CommentTime  23864 non-null  datetime64[ns]
 1   Comment      23864 non-null  object
 2   PostedBy     23864 non-null  object
 3   Action       8 non-null      object
 4   year         23864 non-null  int64
 5   month        23864 non-null  int64
 6   day          23864 non-null  int64
 7   hour         23864 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 1.5+ MB