In [1]:
import os 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
posts_and_comments = os.path.join('posts_and_comments.csv')
fb_df = pd.read_csv(posts_and_comments)
fb_df

,reactions/timestamp,reactions/data/0/reaction/reaction,reactions/data/0/reaction/actor,reactions/title,reactions/attachments/0/data/0/media/uri,reactions/attachments/0/data/0/media/creation_timestamp,reactions/attachments/0/data/0/media/media_metadata/photo_metadata/upload_ip,reactions/attachments/0/data/0/media/title
0,1609253809,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Danielle Carter's post.,NaN,NaN,NaN,NaN
1,1609253585,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Durel Hairston Jr.'s ...,NaN,NaN,NaN,NaN
2,1609253535,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Sean Holley's post.,NaN,NaN,NaN,NaN
3,1609215959,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN
4,1609127023,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
23859,1301001273,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,NaN,NaN,NaN,NaN
23860,1298231606,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Shanny Mounique's post.,NaN,NaN,NaN,NaN
23861,1297961659,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,NaN,NaN,NaN,NaN
23862,1297613305,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,NaN,NaN,NaN,NaN
23863,1296859323,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,NaN,NaN,NaN,NaN

In [3]:
ts = fb_df['reactions/timestamp']
fb_df['Timestamp'] = pd.to_datetime(ts,unit='s', yearfirst=True)
fb_df['year'] = fb_df['Timestamp'].dt.year
fb_df['month'] = fb_df['Timestamp'].dt.month
fb_df['day'] = fb_df['Timestamp'].dt.day
fb_df['hour'] = fb_df['Timestamp'].dt.hour
fb_df.head()

,reactions/timestamp,reactions/data/0/reaction/reaction,reactions/data/0/reaction/actor,reactions/title,reactions/attachments/0/data/0/media/uri,reactions/attachments/0/data/0/media/creation_timestamp,reactions/attachments/0/data/0/media/media_metadata/photo_metadata/upload_ip,reactions/attachments/0/data/0/media/title,Timestamp,year,month,day,hour
0,1609253809,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Danielle Carter's post.,NaN,NaN,NaN,NaN,2020-12-29 14:56:49,2020,12,29,14
1,1609253585,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Durel Hairston Jr.'s ...,NaN,NaN,NaN,NaN,2020-12-29 14:53:05,2020,12,29,14
2,1609253535,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Sean Holley's post.,NaN,NaN,NaN,NaN,2020-12-29 14:52:15,2020,12,29,14
3,1609215959,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN,2020-12-29 04:25:59,2020,12,29,4
4,1609127023,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,NaN,2020-12-28 03:43:43,2020,12,28,3

In [4]:
fb_df.drop(['reactions/attachments/0/data/0/media/title'], axis=1)
fb_df.drop(['reactions/attachments/0/data/0/media/media_metadata/photo_metadata/upload_ip'], axis=1) 
fb_df.drop(['reactions/attachments/0/data/0/media/creation_timestamp'], axis=1) 
fb_df.drop(['reactions/attachments/0/data/0/media/title'], axis=1)
fb_df.drop(['reactions/attachments/0/data/0/media/uri'], axis=1)
fb_df.drop(['reactions/attachments/0/data/0/media/media_metadata/photo_metadata/upload_ip',], axis=1)

,reactions/timestamp,reactions/data/0/reaction/reaction,reactions/data/0/reaction/actor,reactions/title,reactions/attachments/0/data/0/media/uri,reactions/attachments/0/data/0/media/creation_timestamp,reactions/attachments/0/data/0/media/title,Timestamp,year,month,day,hour
0,1609253809,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Danielle Carter's post.,NaN,NaN,NaN,2020-12-29 14:56:49,2020,12,29,14
1,1609253585,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Durel Hairston Jr.'s ...,NaN,NaN,NaN,2020-12-29 14:53:05,2020,12,29,14
2,1609253535,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Sean Holley's post.,NaN,NaN,NaN,2020-12-29 14:52:15,2020,12,29,14
3,1609215959,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,2020-12-29 04:25:59,2020,12,29,4
4,1609127023,LOVE,Chey'Na Bunch,Chey'Na Bunch reacted to Toriano Thomas's photo.,NaN,NaN,NaN,2020-12-28 03:43:43,2020,12,28,3
...,...,...,...,...,...,...,...,...,...,...,...,...
23859,1301001273,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,NaN,NaN,NaN,2011-03-24 21:14:33,2011,3,24,21
23860,1298231606,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Shanny Mounique's post.,NaN,NaN,NaN,2011-02-20 19:53:26,2011,2,20,19
23861,1297961659,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,NaN,NaN,NaN,2011-02-17 16:54:19,2011,2,17,16
23862,1297613305,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Troy Long's post.,NaN,NaN,NaN,2011-02-13 16:08:25,2011,2,13,16
23863,1296859323,LIKE,Chey'Na Bunch,Chey'Na Bunch likes Kennedy Smith's post.,NaN,NaN,NaN,2011-02-04 22:42:03,2011,2,4,22

In [5]:
fb_df.columns = ['Timestamp', 'Reaction','Actor','Title','Uri','Datetime']
new_df = fb_df.set_index(fb_df['Actor'])

ValueError: Length mismatch: Expected axis has 13 elements, new values have 6 elements