In [1]:
import os
import matplotlib as mp
import pandas as pd
import plotly as pt

In [5]:
fb_df = pd.read_csv('dataset_Facebook.csv', sep=';')
fb_df

,PageTotalLikes,Type,Category,PostMonth,PostWeekday,PostHour,Paid,LifetimeTotalReach,LifetimeTotalImpressions,LifetimeEngagedUsers,LifetimePostConsumers,LifetimePostConsumptions,LifetimePostImpressionsByFollowers,LifetimePostReachByFollowers,LifetimeFollowersLFPEngagedWithPost,comment,like,share,TotalInteractions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [9]:
fb_df = fb_df.dropna()

In [10]:
fb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 498
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   PageTotalLikes                       495 non-null    int64
 1   Type                                 495 non-null    object
 2   Category                             495 non-null    int64
 3   PostMonth                            495 non-null    int64
 4   PostWeekday                          495 non-null    int64
 5   PostHour                             495 non-null    int64
 6   Paid                                 495 non-null    float64
 7   LifetimeTotalReach                   495 non-null    int64
 8   LifetimeTotalImpressions             495 non-null    int64
 9   LifetimeEngagedUsers                 495 non-null    int64
 10  LifetimePostConsumers                495 non-null    int64
 11  LifetimePostConsumptions             495 non-null    int64
 12  LifetimePostImpressionsByFollowers   495 non-null    int64
 13  LifetimePostReachByFollowers         495 non-null    int64
 14  LifetimeFollowersLFPEngagedWithPost  495 non-null    int64
 15  comment                              495 non-null    int64
 16  like                                 495 non-null    float64
 17  share                                495 non-null    float64
 18  TotalInteractions                    495 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 77.3+ KB