In [2]:
import os
import matplotlib as mp
import pandas as pd
import plotly as pt

In [29]:
fb_df = pd.read_csv('Andres_posts_and_commentsCSV.csv') #likes by me csv 
fb_df.head()

                                                                                                                                                                 posts_and_comments
reactions/timestamp reactions/data/0/reaction/reaction reactions/data/0/reaction/actor reactions/title                                     reactions/attachments/0/data/0/media/uri
1609460338          LIKE                               Andres Alcaraz                  Andres Alcaraz likes Vinicius Gomes's photo.                                             NaN
1609449420          LIKE                               Andres Alcaraz                  Andres Alcaraz likes Mario Alcaraz's photo.                                              NaN
1609300275          LIKE                               Andres Alcaraz                  Andres Alcaraz likes Mony Vazquez's post.                                                NaN
1609253183          LIKE                               Andres Alcaraz                  Andres Alcaraz likes Christian Foster's post in...                                       NaN